<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>[Bienvenido a Chat Project]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
        body {
            background: #2C5364;
            color: rgb(221, 173, 230);
        }
    </style>
</head>

<body>
    <h1>
        Bienvenido a Chat Project {{NOMBRE}}
    </h1>
    <div>
        <p>
            Esperamos que tenga una excelente experiencia en nuestra aplicación.
        </p>
    </div>
</body>